{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Fresh Cut Barbing Salon{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'salon/css/style.css' %}">
</head>
<body>

    <header>
        <h2>Fresh Cut Barbing Salon</h2>

        <nav>
            <a href="/">Home</a>
            <a href="/services/">Services</a>
            <a href="/about/">About / Contact</a>

            {% if user.is_authenticated %}
                <a href="/dashboard/">Dashboard</a>
                <a href="/book/">Book Appointment</a>
                <a href="/appointments/">My Appointments</a>
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/register/">Register</a>
                <a href="/login/">Login</a>
            {% endif %}
        </nav>
    </header>

    <hr>

    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <hr>

    <footer>
        <p>&copy; 2026 Fresh Cut Barbing Salon. All rights reserved.</p>
        <p>Umuchima, FUTO, Owerri, Imo State | 08012345678</p>
    </footer>

    <script>
        setTimeout(function() {
            const messages = document.querySelectorAll('.message');

            messages.forEach(function(message) {
                message.style.opacity = '0';

                setTimeout(function (){
                    message.style.display = 'none';
                }, 500);
            });
        }, 3000);
    </script>

</body>
</html>